

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/sb-admin-2.min.css" rel="stylesheet">

@if (User.Identity.IsAuthenticated)
{
    <center>
        <h3>Empty Account Dashboard</h3>
    </center>
}